* {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
}

html {
    background-color: rgb(255, 255, 0);
}

.aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}